*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d3a37e;
}
.container{
    background-color: #F2F9FF;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i{
    font-size: 1rem;
    margin-top: 1.2rem;
}
.select-container img{
    max-height: 2rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}
.select-container select{
     font-size: 1rem;
     width: auto;
}

.msg{
    margin: 2rem 0px 2rem 0px;
}
form button{
    height: 3rem;
    background-color: #ff7420;
    color: white;
    font-size: 1.11rem;
    cursor: pointer;
}
